{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
	<h1>{% trans "FTP Accounts" %}</h1>
	<p>{% trans "You should always use FTP with TLS/SSL support to protect your FTP account." %}</p>

	{% bootstrap_messages %}

	<a href="{% url "ftp_account_add" %}" class="btn btn-success pull-right">{% bootstrap_icon "plus" %} New</a>

	<table class="table table-striped table-condensed table-hover">
		<thead>
		<tr>
			<th>Name</th><th>VHost</th><th>Path</th><th>&nbsp;</th>
		</tr>
		</thead>
		{% for account in object_list %}
		<tr>
			<td><a href="{% url "ftp_account_update" account.id %}">{{ account.name }}</a></td>
			<td>{{ account.vhost }}</td>
			<td>{{ account.path }}</td>
			<td>
				<form action="{% url "ftp_account_delete" account.id %}" method="post" class="confirm-delete">
					{% csrf_token %}
					<input type="submit" value="{% trans "Delete" %}" class="btn btn-xs btn-danger"/>
				</form>
			</td>
		</tr>
	    {% endfor %}
	</table>
{% endblock %}
