{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
	<h1>{% trans "Cronjobs" %}</h1>

	{% bootstrap_messages %}

	<a href="{% url "cronjob_add" %}" class="btn btn-success pull-right">{% bootstrap_icon "plus" %} New</a>

	{% if object_list %}
	<table class="table table-striped table-condensed table-hover">
		<thead>
		<tr>
			<th>{% trans "Command" %}</th>
			<th>{% trans "When" %}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		{% for cronjob in object_list %}
		<tr>
			<td><a href="{% url "cronjob_update" cronjob.pk %}">{{ cronjob.command|truncatechars:64 }}</a></td>
			<td>{{ cronjob.get_when_display }}</td>
			<td>
				<form action="{% url "cronjob_delete" cronjob.pk %}" method="post" class="pull-left confirm-delete">
					{% csrf_token %}
					<input type="submit" value="{% trans "Delete" %}" class="btn btn-xs btn-danger"/>
				</form>
			</td>
		</tr>
	    {% endfor %}
	</table>
    {% else %}
        <p>{% trans "You don't have any Cronjobs yet." %}</p>
    {% endif %}
{% endblock %}
