acme==1.22.0
cryptography==43.0.1
Django==4.1.13
django-annoying==0.10.6
django-bootstrap3==22.1
django-messagegroups==0.4.5
django-settings-export==1.2.1
mysqlclient==2.1.1
passlib==1.7.4
pyOpenSSL==23.3.0
zerorpc==0.6.3
