acme==1.10.1
cryptography==3.3.2
Django==2.2.20
django-annoying==0.10.3
django-bootstrap3==14.2.0
django-messagegroups==0.4.5
django-settings-export==1.2.1
mysqlclient==2.0.1
passlib==1.7.4
pyOpenSSL==19.1.0
zerorpc==0.6.3
