{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
	<h1>{% trans "SSL Certificates" %}</h1>

	<a href="{% url "web_sslcert_add" %}" class="btn btn-success pull-right">{% bootstrap_icon "plus" %} New</a>

	{% if object_list %}
	<table class="table table-striped table-condensed table-hover">
		<thead>
		<tr>
			<th>{% trans "Common Name" %}</th>
			<th>{% trans "Valid not before" %}</th>
			<th>{% trans "Valid not after" %}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		{% for cert in object_list %}
		<tr>
			<td><span title="{{ cert.issuer }}">{{ cert.cn }}</td>
			<td>{{ cert.valid_not_before }}</td>
			<td>{{ cert.valid_not_after }}</td>
			<td>
				<form action="{% url "web_sslcert_delete" cert.pk %}" method="post">
					{% csrf_token %}
					<input type="submit" value="{% trans "Delete" %}" class="btn btn-xs btn-danger"/>
				</form>
			</td>
		</tr>
	    {% endfor %}
	</table>
    {% else %}
        <p>{% trans "You don't have any SSL Certificates yet." %}</p>
    {% endif %}
{% endblock %}